<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/style/navbar.css">

</head>

<body>
    <header id="header">
        
    </header>
    

    <main>

    </main>
    
    <footer>
        <div class="footer-container">
        <p>Guillermo R. Moyano. Full Stack Python. Comisión 23010</p>
        </div>
    </footer>

    <script src="../static/js/main.js"></script>

</body>

</html>