<!doctype html>
<html lang="en">

<head>
    <!doctype html>
    <html lang="en">
    
    <head>
        <title>Title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="../static/style/navbar.css">
        <link rel="stylesheet" href="../static/style/form.css">
    
    </head>
    
    <body>
        <header id="header">
        
        </header>
        <script src="../static/js/main.js"></script>
    
        <main>
    
            <div class="container">
                <form class="formol">
                    <h2>Editar producto</h2>


                    <input hidden type="text" class="putin" name="id" id="id" placeholder="Nombre del producto">
                    <input type="text" class="putin" name="nombre" id="nombre" placeholder="Nombre del producto">
                    <input type="text" class="putin" name="precio" id="precio" placeholder="Precio del producto">
                    <input type="text" class="putin" name="stock" id="stock" placeholder="Stock del producto">
                    <input type="text" class="putin" name="imagen" id="imagen" placeholder="URL de la imagen">
                    <button class="botonito" type="button" onclick="modificar()">Modificar</button>
                </form>
            </div>
        </main>
    
        <footer>
            <div class="footer-container">
                <p>Guillermo R. Moyano. Full Stack Python. Comisión 23010</p>
            </div>
        </footer>
    
        <script src="../static/js/producto_editar.js"></script>
    
    </body>
    
    </html>
